<div class="row">
    <div class="col-6">
        <app-dona [title]="tituloGrafica1"
                [dataDona]="dataSet"
                [titulosPedazos]="titulos"></app-dona>
    </div>
    <div class="col-6">
        <app-dona
            [title]="'aa'"
            [dataDona]="dataSet"
            [titulosPedazos]="titulos"

        ></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona></app-dona>
    </div>
    <div class="col-6">
        <app-dona></app-dona>
    </div>
</div>